* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #99afd5;
}

#app-container {
	padding-top: 71px;
}

.column-container > * {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}

.header {
	position: fixed;
	top: 0;
	left: 0; right: 0;
	z-index: 15;
}

.facts {
	font-size: medium;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	margin: 0;
}

.facts h1 {
	margin: 0;
	font-weight: 200;
}

.nav-bar {
	width: 100%;
	background-color: #e7e7e7;
}

.click {
	width: 25%;
	text-align: center;
	font-size: medium;
	border-right: 1px solid black;
}

.click:hover {
	background-color: #006687;
}

.click a {
	text-decoration: none;
	color: black;
}

.active {
	background-color: #006687;
}

.pulled-content {
	width: 80%;
	margin: 0 auto;
	vertical-align: top;
	border-left: 3px solid black;
	border-right: 3px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	background-color: white;
}

.pink {
background-color: #f2dede;
}

.pink h3 {
	font-weight: 200;
	font-size: 30px;
}

.panel {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.blue {
	background-color: lightblue;
	font-weight: 200;
}

.twoTables {
	width: 50%;
	display: inline-block;
	padding: 0 8px;
}

.split {
	display: inline-block;
	padding: 0;
}
